In [2]:
import os
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
mpl.style.use('ggplot')
td=pd.read_csv('tieuduong.csv')
td.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [3]:
print(td.dtypes)

ID             int64
No_Pation      int64
Gender        object
AGE            int64
Urea         float64
Cr             int64
HbA1c        float64
Chol         float64
TG           float64
HDL          float64
LDL          float64
VLDL         float64
BMI          float64
CLASS         object
dtype: object

In [7]:
td['Gender'] = td['Gender'].astype(str)
td['CLASS'] = td['CLASS'].astype(str)
print(td['Gender'].dtypes)

object

In [5]:
print(td.dtypes)

ID             int64
No_Pation      int64
Gender        object
AGE            int64
Urea         float64
Cr             int64
HbA1c        float64
Chol         float64
TG           float64
HDL          float64
LDL          float64
VLDL         float64
BMI          float64
CLASS         object
dtype: object

Mô tả chi tiết ý nghĩa từng thuộc tính, kiểu dữ liệu từng thuộc tính
ID : định danh duy nhất cho mỗi bệnh nhân , kiểu dữ liệu float64
No_Pation: Mã bệnh án , kiểu dữ liệu float64
Gender: giới tính , kiểu dữ liệu string
AGE: tuổi ,   kiểu dữ liệu     int64
Urea : nồng độ ure trong máu của bệnh nhân , kiểu dữ liệu float64
Cr   :nồng độ creatinin trong máu của bệnh nhân  ,   kiểu dữ liệu     int64
HbA1c : mức độ đường huyết trung bình của bệnh nhân,  kiểu dữ liệu     float64
Chol   :nồng độ cholesterol trong máu của bệnh nhân.    kiểu dữ liệu  float64
TG     : nồng độ triglyceride trong máu của bệnh nhân.    kiểu dữ liệu  float64
HDL   :nồng độ cholesterol HDL trong máu của bệnh nhân (lipoprotein đột lượng cao).     kiểu dữ liệu  float64
LDL   : nồng độ cholesterol LDL trong máu của bệnh nhân (lipoprotein đột lượng thấp).     kiểu dữ liệu  float64
VLDL  : nồng độ cholesterol VLDL trong máu của bệnh nhân (lipoprotein đột lượng rất thấp).     kiểu dữ liệu  float64
BMI   : chỉ số khối cơ thể của bệnh nhân.     kiểu dữ liệu  float64
CLASS : trạng thái bệnh lý của bệnh nhân (N - bình thường, Y - bị bệnh, P- có tỉ lệ mắc bênh).     kiểu dữ liệu   string
dtype: object

 Mô tả chi tiết kiểu dữ liệu của thuộc tính cần dự đoán
AGE: tuổi ,   kiểu dữ liệu     int64
Urea : nồng độ ure trong máu của bệnh nhân , kiểu dữ liệu float64
Cr   :nồng độ creatinin trong máu của bệnh nhân  ,   kiểu dữ liệu     int64
HbA1c : mức độ đường huyết trung bình của bệnh nhân,  kiểu dữ liệu     float64
Chol   :nồng độ cholesterol trong máu của bệnh nhân.    kiểu dữ liệu  float64
TG     : nồng độ triglyceride trong máu của bệnh nhân.    kiểu dữ liệu  float64
HDL   :nồng độ cholesterol HDL trong máu của bệnh nhân (lipoprotein đột lượng cao).     kiểu dữ liệu  float64
LDL   : nồng độ cholesterol LDL trong máu của bệnh nhân (lipoprotein đột lượng thấp).     kiểu dữ liệu  float64
VLDL  : nồng độ cholesterol VLDL trong máu của bệnh nhân (lipoprotein đột lượng rất thấp).     kiểu dữ liệu  float64
BMI   : chỉ số khối cơ thể của bệnh nhân.     kiểu dữ liệu  float64

chuyển chữ thành số

In [9]:
td['Gender'].replace({'F': 0, 'M':1}, inplace= True)
td['CLASS'].replace({'N': 0, 'Y':1,'P':2}, inplace= True)


print(td)

      ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL
0    502      17975      0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  \
1    735      34221      1   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2    420      47975      0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3    680      87656      0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4    504      34223      1   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4
..   ...        ...    ...  ...   ...  ..    ...   ...  ...  ...  ...   ...
995  200     454317      1   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6
996  671     876534      1   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4
997  669      87654      1   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1
998   99      24004      1   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0
999  248      24054      1   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7

      BMI CLASS
0    24.0     0
1    23.0     0
2    24.0     0
3    24.0     0
4    21.0     0
..    ...   ...
995  30.0     1
996  37.2    Y
997  27.4    Y
998  40.5    Y
999  33.0    Y

[1000 rows x 14 columns]